/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  ==========================================================================
        Colors
        ========================================================================== */
        $yellow: #ffc409;
        $orange: #ff4302;
        $green: #2ecc71;
        $dark-green: darken($green, 35%);
        $blue: #00bcfd;
        $brown: #714c3f;