/*  ==========================================================================
    Layout
    ========================================================================== */
    body {
        background-color: #222;
        //background-color: #262626;
        text-align: center;
        overflow-x: hidden;
    }

    .container {
        background-color: #333;
        //background-color: #262626;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    /*  Element default
        ========================================================================== */
        .hold-element {
            background-color: darken($orange, 15%);
            width: 200px;
            height: 200px;
            margin: 0;
            @include transition(all 1s ease);
        }

        .hold-element.transparent { background-color: transparent; }

        .element {
            width: 100%;
            height: 100%;
            @include transition(all 1s ease);
            background-color: $orange;
        }

    @media only screen and (min-width: 1250px) {
        .hold-element {
            width: 300px;
            height: 300px;
        }
    }

    @media only screen and (min-width: 1650px) {
        .hold-element {
            width: 400px;
            height: 400px;
        }
    }