/*  ==========================================================================
    Grid
    ========================================================================== */
    body {
        width: 100%;
        @include clearfix();
    }

    .container { padding: 40px 10px; }

    .container--home {
    	> section {
    		@media (max-width: 800px) {
    			width: 100%;
        }
    	}
    }